/*
* File: style.css
* Author: Doktor Kristóf Márk
* Copyright: 2026, Doktor Kristóf Márk
* Group: Szoft I/N
* Date: 2026-05-06
* Github: https://github.com/dokkristof/
* Licenc: MIT
*/

h1 {
    color: rgb(0, 0, 0);
}

.table {
    border: none;
}

.table-bordered th,
.table-bordered td {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #2c465a;
}

.table thead th {
    border-top: 1px solid #ffffff;
}

.table th,
.table td {
    background-color: #98cbe9;
}



